<style>
  .max-lines {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
    line-height: 1.5em;
    max-width: 100%;
  }
</style>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Basic Tables </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                    <p class="card-description"> Add class <code>.table</code>
                    </p>
                    <%- include ("../../partials/messages") %>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Tags</th>
                            <th>Title</th>
                            <th>Create Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% categories.forEach(category => { %>
                            <tr>
                              <td><%= category.tags %></td>
                              <td><%= category.content %></span> </td>
                              <td><%= category.createDate %></span> </td>
                              <td>
                                <a href="edit_categories/<%= category._id %>" class="btn btn-success">Edit</a>
                                <a href="delete_categories/<%= category._id %>" class="btn btn-danger">Delete</a>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <script>
            var dataString = document.querySelectorAll(".dateFormat").forEach(function(elem){
              var dateOuter = elem.outerText
              var today = new Date(dateOuter);
              var dayFormat = today.toLocaleDateString();
              elem.innerHTML = dayFormat
            });
            // console.log(dataString.innerText)
            // const dateOuter = dataString.outerText
            // const today = new Date(dateOuter);
            // dayFormat = today.toLocaleDateString();
            console.log(dataString)
            // document.getElementById("dateFormat").innerHTML = dayFormat;
          </script>