<link rel="stylesheet" href="../assets/cssStyle/Blog.css">

<main id="main">

  <div class="bg-gray">
    <div class="wrapper flow">
      <header class="region">
        <div class="wrapper">
          <div class="headline all-center">
            <h1 class="headline-title">Blog</h1>
            <p>Our latest news, updates, and stories for developers</p>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="region">
    <div class="wrapper auto-grid">
      <% blogs.forEach(blog => { %>
        <article class="card">
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img class="card__hero" src="./uploads/blog/<%= blog.imageBlog %>" alt="">
          </a>
          <div class="card__content flow">
            <h2 class="card__heading text-size-3">
              <a href="#"><%= blog.title %></a>
            </h2>
            <p>
              <%= blog.content %>
            </p>
          </div>
          <div class="gap-top-size-1">
            <span><%= blog.author %> Oct 31, 2022</span>
          </div>
          <div class="card__tags cluster gap-top-base">
            <% for (let i = 0; i < blog.collections.length; i++) {%>
              <a href="#" class="pill text-center"><%= blog.collections[i] %></a>
            <% } %>
          </div>
        </article>
      <% }) %>
    </div>
    <div class="wrapper gap-top-size-3">
      <nav class="pagination">
        <div class="pagination__container"></div>
        <div class="pagination__status">Page 1 of 28</div>
        <div class="pagination__container">
          <a href="" class="btn-next">Next</a>
        </div>
      </nav>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function(){
    $("#showIcon").click(function(){
      $("#menu-customer").toggleClass("show");
    });
  });
</script>