<link rel="stylesheet" href="../assets/cssStyle/Blog.css">
<style>
  h1, h2, h3 {
    max-width: 30ch;
  }

  h1 {
    font-size: clamp(1.75rem, 1.39rem + 1.79vw, 3rem);
  }
</style>
<main id="main">
  <img
    src="../uploads/blog/<%= blog.imageBlog %>?auto=format&w=1600"
    class="hero-image"
    alt=""
  />
  <div class="post wrapper" data-flush>
    <div class="sidebar region flex-align-start flex-dir-rev flex-wrap-no">
      <nav
        aria-label="On this page"
        class="course__toc toc over-scroll hidden-yes"
        data-type="side"
      >
        <div class="course-toc__heading font-google-sans weight-medium">
          On this page
        </div>
        <div class="toc__wrapper flow-recursive">
          <ul class="toc__list">
            <li class="toc__listitem">
              <a
                class="toc__anchor w-scroll-spy__active"
                href="#stable-browser-releases"
                >Stable browser releases</a
              >
              <ul class="toc__list">
                <% for(let i = 0; i < blog.tableOfContent.length; i++) { %>
                <li class="toc__listitem">
                  <a class="toc__anchor" href="#">
                    <%= blog.tableOfContent[i] %>
                  </a>
                </li>
                <% } %>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <article class="prose legacy-rollout">
        <header class="flow gap-bottom-size-3">
          <nav class="breadcrumbs">
            <ul class="breadcrumbs__list" role="list">
              <li>
                <a
                  data-label="post, home breadcrumb"
                  class="gc-analytics-event"
                  data-action="click"
                  data-category="web.dev"
                  href="/"
                >
                  Home
                </a>
              </li>
              <li>
                <a
                  data-label="post, path breadcrumb"
                  class="gc-analytics-event"
                  data-action="click"
                  data-category="web.dev"
                  href="/blog"
                >
                  All articles
                </a>
              </li>
            </ul>
          </nav>
          <h1><%= blog.title %></h1>
          <p>
            <%= blog.content %>
          </p>
          <div class="flow-space-size-1 color-mid-text text-size-0">
            <%= blog.author %> - <time>Oct 31, 2022</time>
          </div>
          <p>
            <%= blog.description %>
          </p>
        </header>
        <div class="card__tags cluster gap-top-base">
          <% for (let i = 0; i< blog.collections.length; i++) { %>
            <a href="#" class="pill text-center"><%= blog.collections[i] %></a>
          <% } %>
        </div>
        <div class="flow-space-size-2"><a class="button" data-type="secondary" href="/blogs/1"> <svg viewBox="0 0 24 24" style="fill: #3740ff" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>	&nbsp;<span>Return to all articles</span> </a></div>
      </article>
    </div>
  </div>
</main>


<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
  integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
  crossorigin="anonymous"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(document).ready(function(){
    $("#showIcon").click(function(){
      $("#menu-customer").toggleClass("show");
    });
  });
</script>
