<link rel="stylesheet" href="../assets/cssStyle/Carousel.css" />
<main id="main">
  <header class="region">
    <div class="wrapper">
      <div class="headline all-center">
        <h1 class="headline-title">Learn</h1>
        <p>Explore our structured learning paths to discover everything you need to know about building for the modern web.</p>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <h2 class="text-3">Course</h2>
    <%- include('../partials/messages.ejs')%>
  </div>
  <section id="features" class="bg-gray">
    <div class="content">
      <div class="slider responsive">
        <% courseSlide.forEach(post => { %>
        <div class="col-md-4">
          <a href="/learn/<%= post._id %>" data-style="branded" class="card">
            <div class="card_header repel">
              <p class="text-gray">Course</p>
              <div class="counter bg-card-primary text-white">
                <span class="span-counter"><%= post.price %>$ / </span>
                <svg
                  viewBox="0 0 24 24"
                  aria-label="mortarboard"
                  class="icon"
                  fill="currentColor"
                  height="24"
                  role="img"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"
                  ></path>
                  <path
                    d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"
                  ></path>
                </svg>
              </div>
            </div>
            <img
              alt="i18n.courses.learn_design.title branding"
              src="./uploads/course/<%= post.course %>"
            />
            <div class="card_content text-overview flow">
              <p class="text-size-0">
                <%= post.overview %>
              </p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <div class="wrapper">
    <div class="block-size-1 repel">
      <h2 class="text-3">Collections</h2>
      <div class="cluster">
        <button class="pill btn-collections" data-state="active">All</button>
        <button class="pill btn-collections" data-state="">Performance</button>
        <button class="pill btn-collections" data-state="">Build excellent websites</button>
        <button class="pill btn-collections" data-state="">Frameworks</button>
        <button class="pill btn-collections" data-state="">Lighthouse</button>
        <button class="pill btn-collections" data-state="">Explorations</button>
      </div>
    </div>
  </div>
  <div class="learn__collections">
    <div class="learn__collection" id="performance">
      <div class="wrapper">
        <h2 class="text-size-2">Performance</h2>
        <div class="auto-grid gap-top-size-2">
          <% performance.forEach(post => { %>
            <a href="/learn/<%= post._id %>" data-style="branded" class="card">
              <div class="card_header repel">
                <p class="text-gray">Collection</p>
                <div class="counter bg-card-primary text-white">
                  <span class="span-counter"><%= post.price %>$ / </span>
                  <svg viewBox="0 0 24 24" aria-label="mortarboard" class="icon" fill="currentColor" height="24" role="img" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"></path><path d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"></path></svg>
                </div>
              </div>
              <img alt="i18n.courses.learn_design.title branding" src="./uploads/course/<%= post.course %>">
              <div class="card_content flow">
                <h3 class="card-heading text-size-2"><%= post.title %></h3>
                <p class="text-size-0">
                  <%= post.overview %>
                </p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="learn__collection" id="performance">
      <div class="wrapper">
        <h2 class="text-size-2">Build excellent websites</h2>
        <div class="auto-grid gap-top-size-2">
          <% build.forEach(post => { %>
            <a href="/learn/<%= post._id %>" data-style="branded" class="card">
              <div class="card_header repel">
                <p class="text-gray">Collection</p>
                <div class="counter bg-card-primary text-white">
                  <span class="span-counter"><%= post.price %>$ / </span>
                  <svg viewBox="0 0 24 24" aria-label="mortarboard" class="icon" fill="currentColor" height="24" role="img" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"></path><path d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"></path></svg>
                </div>
              </div>
              <img alt="i18n.courses.learn_design.title branding" src="./uploads/course/<%= post.course %>">
              <div class="card_content flow">
                <h3 class="card-heading text-size-2"><%= post.title %></h3>
                <p class="text-size-0">
                  <%= post.overview %>
                </p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="learn__collection" id="performance">
      <div class="wrapper">
        <h2 class="text-size-2">Frameworks</h2>
        <div class="auto-grid gap-top-size-2">
          <% framework.forEach(post => { %>
            <a href="/learn/<%= post._id %>" data-style="branded" class="card">
              <div class="card_header repel">
                <p class="text-gray">Collection</p>
                <div class="counter bg-card-primary text-white">
                  <span class="span-counter"><%= post.price %>$ / </span>
                  <svg viewBox="0 0 24 24" aria-label="mortarboard" class="icon" fill="currentColor" height="24" role="img" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"></path><path d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"></path></svg>
                </div>
              </div>
              <img alt="i18n.courses.learn_design.title branding" src="./uploads/course/<%= post.course %>">
              <div class="card_content flow">
                <h3 class="card-heading text-size-2"><%= post.title %></h3>
                <p class="text-size-0">
                  <%= post.overview %>
                </p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="learn__collection" id="performance">
      <div class="wrapper">
        <h2 class="text-size-2">Lighthouse</h2>
        <div class="auto-grid gap-top-size-2">
          <% lighthouse.forEach(post => { %>
            <a href="/learn/<%= post._id %>" data-style="branded" class="card">
              <div class="card_header repel">
                <p class="text-gray">Collection</p>
                <div class="counter bg-card-primary text-white">
                  <span class="span-counter"><%= post.price %>$ / </span>
                  <svg viewBox="0 0 24 24" aria-label="mortarboard" class="icon" fill="currentColor" height="24" role="img" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"></path><path d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"></path></svg>
                </div>
              </div>
              <img alt="i18n.courses.learn_design.title branding" src="./uploads/course/<%= post.course %>">
              <div class="card_content flow">
                <h3 class="card-heading text-size-2"><%= post.title %></h3>
                <p class="text-size-0">
                  <%= post.overview %>
                </p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="learn__collection" id="performance">
      <div class="wrapper">
        <h2 class="text-size-2">Explorations</h2>
        <div class="auto-grid gap-top-size-2">
          <% explorations.forEach(post => { %>
            <a href="/learn/<%= post._id %>" data-style="branded" class="card">
              <div class="card_header repel">
                <p class="text-gray">Collection</p>
                <div class="counter bg-card-primary text-white">
                  <span class="span-counter"><%= post.price %>$ / </span>
                  <svg viewBox="0 0 24 24" aria-label="mortarboard" class="icon" fill="currentColor" height="24" role="img" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12.51 3.47a1.29 1.29 0 0 0-1 0L3 7a1.33 1.33 0 0 0 0 2.44L11.49 13a1.38 1.38 0 0 0 1 0L21 9.44A1.33 1.33 0 0 0 21 7Z"></path><path d="M4.71 14.07a1.33 1.33 0 0 1 1.82-1.24l5 2a1.35 1.35 0 0 0 1 0l5-2a1.33 1.33 0 0 1 1.82 1.24v3.1a1.32 1.32 0 0 1-.88 1.25l-6 2.13a1.24 1.24 0 0 1-.89 0l-6-2.13a1.32 1.32 0 0 1-.88-1.25Z"></path></svg>
                </div>
              </div>
              <img alt="i18n.courses.learn_design.title branding" src="./uploads/course/<%= post.course %>">
              <div class="card_content flow">
                <h3 class="card-heading text-size-2"><%= post.title %></h3>
                <p class="text-size-0">
                  <%= post.overview %>
                </p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</main>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
<script>
  $(document).ready(function () {
    $(".responsive").slick({
      // dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 1,
            // centerMode: true,
          },
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 2,
            dots: true,
            infinite: true,
          },
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            dots: true,
            infinite: true,
          },
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 2000,
          },
        },
      ],
    });
  });
</script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
  integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function(){
    $("#showIcon").click(function(){
      $("#menu-customer").toggleClass("showMenu");
    });
  });
</script>
