<link rel="stylesheet" href="../assets/cssStyle/Blog.css">

<main id="main">
  <div class="bg-gray">
    <div class="wrapper flow">
      <header class="region">
        <div class="wrapper">
          <div class="headline all-center">
            <h1 class="headline-title">Tags</h1>
            <p>Our latest news, updates, and stories for developers</p>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="region">
    <div class="wrapper auto-grid">
      <% tags.forEach(tag => { %>
        <article class="card">
          <div class="card__content flow">
            <h2 class="card__heading text-size-3">
              <a href="/tags/<%= tag.tags.toLowerCase().replace(' ', '-') %>/1">
                <%= tag.tags %>
              </a>
            </h2>
            <p><%= tag.content %></p>
          </div>
        </article>
      <% }) %>
    </div>
    <div class="wrapper gap-top-size-3">
      <nav class="pagination">
        <div class="pagination__container">
          <% if (currentPage > 1) { %>
            <a href="/tags/<%= pageMinusOne %>" class="btn-next">Prev</a>
          <% } %>
        </div>
        <div class="pagination__status">Page <%= pagePlusOne - 1 %> of <%= totalPages %></div>
        <div class="pagination__container">
          <% if (currentPage < totalPages) { %>
            <a href="/tags/<%= pagePlusOne %>" class="btn-next">Next</a>
          <% } %>
        </div>
      </nav>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function(){
    $("#showIcon").click(function(){
      $("#menu-customer").toggleClass("show");
    });
  });
</script>