<link rel="stylesheet" href="../../assets/css/bootstrap-select.min.css">
<link rel="stylesheet" href="../../assets/admin.css">
<link rel="stylesheet" href="../../assets/vendors/select2/select2.min.css">

<style>
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #13151b;
  }
  textarea{
    overflow-y: hidden;
  }
</style>

<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Form elements</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Forms</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Form elements
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Basic course elements</h4>
            <form
              action="/admin/update_course/<%= course._id %>"
              method="post"
              class="forms-sample"
              autocomplete="off"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label for="exampleInputInstructors">Instructors</label>
                <input
                  type="text"
                  class="form-control"
                  name="instructors"
                  id="exampleInputInstructors"
                  placeholder="Instructors"
                  value="<%= course.instructors %>"
                  required
                />
              </div>
              <div class="form-group">
                <label for="exampleInputTitle">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputTitle"
                  name="title"
                  value="<%= course.title %>"
                  placeholder="Name"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputOverview">Overview</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputOverview"
                  name="overview"
                  value="<%= course.title %>"
                  placeholder="Overview"
                />
              </div>

              <div class="form-group">
                <label for="exampleSelectOptions"
                  >Select Collections</label
                >
                <select
                  class="form-control selectpicker"
                  for="exampleSelectOptions"
                  multiple
                  name="collections"
                  aria-label="size 3 select example"
                >
                
                  <option value="All"
                  <% for (let i = 0; i < course.collections.length; i++) { %>
                    <% if ( course.collections[i] == 'All') { %> 
                      <%= 'selected' %> 
                    <% } %>
                  <% } %>
                  >All</option>
                  <option value="Performance"
                  <% for (let i = 0; i < course.collections.length; i++) { %>
                    <% if ( course.collections[i] == 'Performance') { %> 
                      <%= 'selected' %> 
                    <% } %>
                  <% } %>
                  >Performance</option>
                  <option value="Build excellent websites"
                  <% for (let i = 0; i < course.collections.length; i++) { %>
                    <% if ( course.collections[i] == 'Build excellent websites') { %> 
                      <%= 'selected' %> 
                    <% } %>
                  <% } %>
                  >Build excellent websites
                  </option>
                  <option value="Frameworks"
                  <% for (let i = 0; i < course.collections.length; i++) { %>
                    <% if ( course.collections[i] == 'Frameworks') { %> 
                      <%= 'selected' %> 
                    <% } %>
                  <% } %>
                  >Frameworks</option>
                  <option value="Lighthouse"
                  <% for (let i = 0; i < course.collections.length; i++) { %>
                    <% if ( course.collections[i] == 'Lighthouse') { %> 
                      <%= 'selected' %> 
                    <% } %>
                  <% } %>
                  >Lighthouse</option>
                  <option value="Explorations"
                  <% for (let i = 0; i < course.collections.length; i++) { %>
                    <% if ( course.collections[i] == 'Explorations') { %> 
                      <%= 'selected' %> 
                    <% } %>
                  <% } %>
                  >Explorations</option>
                  <option value="Challenger"
                  <% for (let i = 0; i < course.collections.length; i++) { %>
                    <% if ( course.collections[i] == 'Challenger') { %> 
                      <%= 'selected' %> 
                    <% } %>
                  <% } %>
                  >Challenger</option>
                </select>
              </div>
              <div class="form-group">
                <label>Image upload</label>
                <input type="file" name="course" value="<%= course.course %>" class="file-upload-default" />
                <div class="input-group col-xs-12">
                  <input
                    type="text"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="Upload Image"
                  />
                  <span class="input-group-append">
                    <button
                      class="file-upload-browse btn btn-primary"
                      type="button"
                    >
                      Image
                    </button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleSelectStatus">Status</label>
                <select
                  class="form-control"
                  name="status"
                  id="exampleSelectStatus"
                >
                  <option 
                    <% if (course.status == 'Pending') { %>
                      <%= 'selected' %> 
                    <% } %> 
                  >Pending</option>
                  <option
                    <% if (course.status == 'In progress') { %>
                      <%= 'selected' %> 
                    <% } %> 
                  >In progress</option>
                  <option
                    <% if (course.status == 'Fixed') { %>
                      <%= 'selected' %> 
                    <% } %> 
                  >Fixed</option>
                  <option
                    <% if (course.status == 'Completed') { %>
                      <%= 'selected' %> 
                    <% } %> 
                  >Completed</option>
                  <option
                    <% if (course.status == 'Demo') { %>
                      <%= 'selected' %> 
                    <% } %> 
                  >Demo</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                <textarea
                  class="form-control"
                  id="exampleTextarea1"
                  rows="6"
                  name="description"
                ><%= course.description %></textarea>
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Table of Content</label>
                <textarea
                  class="form-control"
                  id="exampleTextarea1"
                  rows="12"
                  name="tableContent"
                ><% for(var i=0; i<course.tableOfContents.length; i++) { var tags_array = course.tableOfContents[i]; tags_array = tags_array.split(','); for(var j = 0; j < tags_array.length; j++){%><%= tags_array[j] + "\r\n" %><%}%><%}%></textarea>
              </div>

              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <button class="btn btn-dark">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <script>
    document.querySelectorAll("textarea").forEach((el) => {
      el.style.height = el.setAttribute(
        "style",
        "height: " + el.scrollHeight + "px"
      );
      el.classList.add("auto");
      el.addEventListener("input", (e) => {
        el.style.height = "auto";
        el.style.height = el.scrollHeight + "px";
      });
    });
  </script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>



  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script src="../../assets/js/multiple-select.js"></script>
</div>
